*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
  }
  
  .table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
  }
.h1{
flex-wrap: wrap;
flex-direction: inherit;
flex-grow: inherit;
}
.container{
    background-color: blueviolet;
}
header{
    height: 10vh;
    background-color: aliceblue;
}
.checkbox{
}
main{
    height: 80vh;
    width: 100vh;

}
form{
    padding: 2rem;
    background-color: blueviolet;
}
fieldset{
    padding: 1rem;
}
input{
    margin: 0.5rem;
}
.icon{
flex-wrap: wrap;
}